{% extends 'base.html' %}
{% block content %}
<title>회사 소개</title>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/company/greeting/">인사말</a></h2>
                <p>말풍선 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/company/members/">조직도</a></h2>
                <p>조직도 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/company/visit/">찾아오시는 길</a></h2>
                <p>지도 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
</div>
{% endblock %}
