{% extends 'base.html' %}
{% block content %}
<title>상품 소개</title>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/mysite/">전체 상품</a></h2>
                <p>매대 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/product/popular/">인기 상품</a></h2>
                <p>불 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2><a class="card-title" href="/product/sale/">할인 상품</a></h2>
                <p>할인 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
</div>
{% endblock %}