{% extends 'base.html' %}
{% block content %}
<title>문의</title>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 ><a class="card-title" href="/contact/FAQ/">FAQ</a></h2>
                <p>자주 묻는 질문 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 ><a class="card-title" href="/contact/QnA/">질문 및 상담</a></h2>
                <p>전화 또는 이메일 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 ><a class="card-title" href="/contact/us/">Contact Us</a></h2>
                <p>악수 이미지 파일</p>
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
            </div>
        </div>
    </div>
</div>
{% endblock %}
